.characterInfoPages-container{
  padding-top: 80px;
  background-color: #353535;
  padding-bottom: 80px;
}
.characterInfoPages__title{
  color: #fff;
  text-align: center;
}
.characterInfoPages-infoCharacterContainer{
  margin-bottom: 50px;
}
.characterInfoPages-subtitle{
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
}