.footer{
  background-color: #202020;
  padding-top: 20px;
  padding: 40px 20px;
}
.separate{
  height: 2px;
  border: none;
  color: black;
  background-color: black;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}
.footer__title{
  color: #fff;
  font-size: 1.4em;
  text-align: center;
}
.container-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.social__icon{
  margin: auto;
  color: #000000;
}
.atribution{
  color: #fff;
  text-align: center;
  margin: 0;
}