.main{
  padding-top: 80px;
}
.header-list{
  list-style: none;
}
.hero{
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.infoLogin-content{
  padding: 25px 0;
}
.infoLogin__title{
  text-align: center;
}
.infoLogin__text{
  text-align: center;
}



@media screen and (min-width: 800px) {
  .section-infoLogin{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero{
    height: 500px;
  }
  .infoLogin__title{
    font-size: 2rem;
  }
  .infoLogin__text{
    font-size: 1.4rem;
  }
}