.nav-deactive{
  width: 100vw;
  background-color: royalblue;
  padding: 40px;
  position: fixed;
  box-sizing: border-box;
  left: 100%;
  top: 0;
  transition: all 1s;
}
.nav-active{
  width: 100vw;
  background-color: royalblue;
  padding: 40px;
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  transition: all 1s;
}
.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__item{
  margin: 10px;
}
.link{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.active{
  color: red;
}