.nav-list{
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;
}
.nav__item{
  margin: 0 20px;
}
.link{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.active{
  color: red;
}