.nav-deactive{
  width: 100vw;
  background-color: #151515;
  padding: 40px;
  position: fixed;
  box-sizing: border-box;
  left: 100%;
  top: 0;
  transition: all 1s;
  z-index: 100;
}
.nav-active{
  z-index: 100;
  width: 50vw;
  /* height: 70vh; */
  background-color: #151515;
  padding: 40px;
  position: fixed;
  box-sizing: border-box;
  left: 50%;
  top: 0;
  transition: all 1s;
}
.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__item{
  transform: scale(1, 1);
  margin: 20px;
  transition: all .3s;
}
.nav__item:hover{
  transform: scale(1.2, 1.2);
  transition: all .5s;
}
.link{
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}
.active{
  background-color: #fff;
  color: rgb(204, 0, 0);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
.icon-menu{
  transform: scale(1.2, 1.2);
  transition: all .5s;
}
.icon-menu:hover {
  transform: scale(1.4, 1.4);
  cursor: pointer;
  transition: all .5s;
}

@media screen and (max-width: 800px) {
  .nav-active{
    width: 75vw;
    left: 35%;
  }
}