.container-slider {
  height: 500px;
  background-color: #151515;
}
.slide{
  width: 100%;
  height: 500px;
  position: absolute;
}
.slide__image{
  width: 100%;
  height: 80%;
  display: block;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
}
.slide__text{
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.container-slider .slide:nth-child(1) {
  opacity: 1;
  animation-name: slide1;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
.container-slider .slide:nth-child(2) {
  opacity: 0;
  animation-name: slide2;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes slide1 {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}
@keyframes slide2 {
  25%{
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  .container-slider {
    height: 650px;
  }
  .slide{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: "text img";
    height: 650px;
    overflow: hidden;
  }
  .slide__image {
    height: 100%;
    grid-area: img;
  }
  .slide__text{
    grid-area: text;
    font-size: 1.8rem;
    padding: 0 10%;
  }
}